## default connection pool
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5

## PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/owdb
spring.datasource.username=postgres
spring.datasource.password=postgres

#drop n create table again, good for testing, comment this in production
spring.jpa.hibernate.ddl-auto=create


# настройка_для_пути_сваггера=дефолт_значение
# springdoc.api-docs.path=/v3/api-docs - json
# springdoc.swagger-ui.path=/swagger-ui.html - ui

# app.security.jwt.secret=<BIG secret>
# app.security.jwt.expiration-time=36000000
# app.security.jwt.remember-me-expiration-time=2592000000